@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vmin;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#cloud {
    overflow: hidden;
    width: 1px;
    height: 1px;
    transform: translate(-100%, -100%);
    border-radius: 50%;
    filter: url(#filter);
    z-index: 0;
}

.menu {
    position: relative;
    height: 40px;
    background-color: black;
    z-index: 99;
}

#info {
    color: white;
    font-size: 1.4em;
    font-family: "Hubballi", cursive;
}

#trial_status {
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-family: "Hubballi", cursive;
}

.stimuli_container {
    text-align: center;
    display: block;
    position: relative;
}

.stimuli {
    display: inline-block;
    position: relative;
    height: 80vmin;
    overflow: hidden;
}

.stimuli_svg {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}

.stimuli_svg rect {
    z-index: 99;
}
